{% extends 'generic/object.html' %}
{% load i18n %}

{% block breadcrumbs %}
  {{ block.super }}
  {% if object.device %}
    <li class="breadcrumb-item"><a href="{% url 'plugins:netbox_cybex:credential_list' %}?device_id={{ object.device.pk }}">{{ object.device }}</a></li>
  {% elif object.virtual_machine %}
    <li class="breadcrumb-item"><a href="{% url 'plugins:netbox_cybex:credential_list' %}?virtual_machine_id={{ object.virtual_machine.pk }}">{{ object.virtual_machine }}</a></li>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="row mb-3">
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">{% trans "Credentials" %}</h5>
        <div class="card-body">
          <table class="table table-hover attr-table">
            <tr>
              <th scope="row">{% trans "Service Type" %}</th>
              <td>{{ object.service_type }}</td>
            </tr>
            <tr>
                <th scope="row">{% trans "Parent" %}</th>
                <td>{{ object.parent|linkify }}</td> <!-- TODO not working -->
            </tr>
            <tr>
              <th scope="row">{% trans "Username" %}</th>
              <td>{{ object.username }}</td>
            </tr>
            <tr>
              <th scope="row">{% trans "Password" %}</th>
              <td>{{ object.password }}</td>
            </tr>
          </table>
        </div>
      </div>
      {% include 'inc/panels/custom_fields.html' %}
    </div>
    <div class="col col-md-6">
      {% include 'inc/panels/tags.html' %}
      {% include 'inc/panels/comments.html' %}
    </div>
  </div>
{% endblock content %}
